:host ::ng-deep .p-button.p-component {
  background-color: #020617;
  color: #fff;
  border: 1px solid #020617;
  transition: all ease-in-out 0.3s;
  border: none;
}

:host ::ng-deep .p-button.p-component:hover {
  background-color: #363636;
  color: #fff;
  border: none;
}
